{% extends 'template.html.twig' %}

{% block content %}

    <h1>Inscription</h1>

    {{ form_start(form) }}

    {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder': 'plonge.dubois@estiam_car.com'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': '*******'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmer mot de passe', 'attr': {'placeholder': '*******'}}) }}


    {{ form_row(form.Nom, {'label': 'Nom', 'attr': {'placeholder': 'ex: Dupont'}}) }}
    {{ form_row(form.Prenom, {'label': 'Prenom', 'attr': {'placeholder' : 'ex: Plonge'}}) }}
    {{ form_row(form.Date_Naissance, {'label': 'Date de naissance' }) }}
    {{ form_row(form.num_voie,{'label': 'Numero de voie' }) }}
    {{ form_row(form.nom_rue,{'label': 'Nom de voie'}) }}
    {{ form_row(form.code_postal,{'label': 'Code postal'}) }}
    {{ form_row(form.ville,{'label': 'Ville'}) }}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{form_end(form)}}

{% endblock %}