{% extends 'template.html.twig' %}
{% set body = 'home1 product-category' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <div class="inner">
                <h1>Register</h1>
                <ul class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="product-category" class="container layer-category">
        <div class="row">
            <div class="container">
                {% if error is defined %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="login-form-content">
                    <h2>Register</h2>

                    {{ form_start(form) }}
                    {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder': 'plonge.dubois@estiam_car.com'}})
                    }}
                    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': '*******'}}) }}
                    {{ form_row(form.confirm_password, {'label': 'Confirmer mot de passe', 'attr': {'placeholder': '*******'}})
                    }}
                    {{ form_row(form.Nom, {'label': 'Nom', 'attr': {'placeholder': 'ex: Dupont'}}) }}
                    {{ form_row(form.Prenom, {'label': 'Prenom', 'attr': {'placeholder' : 'ex: Plonge'}}) }}
                    {{ form_row(form.Date_Naissance, {'label': 'Date de naissance' }) }}
                    {{ form_row(form.num_voie,{'label': 'Numero de voie' }) }}
                    {{ form_row(form.nom_rue,{'label': 'Nom de voie'}) }}
                    {{ form_row(form.code_postale,{'label': 'Code postal'}) }}
                    {{ form_row(form.ville,{'label': 'Ville'}) }}
                    {{ form_row(form.portable,{'label': 'Portable'}) }}

                    <button class="button" type="submit"><span>Register</span></button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}